# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\SyncedFolder\uit\Semester2\jupyter_notebooks\Datatek_Semester2\Kjemi\Pycharm\Test2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
